@{
    ViewData["Title"] = "Фізіотерапевтичне лікування";
}

<link rel="stylesheet" href="~/css/treatment.css" asp-append-version="true" />

<div class="fizio-container">
    <h1>Фізіотерапевтичне лікування</h1>

</div>