@{
    ViewData["Title"] = "Ортоптичне лікування";
}

<link rel="stylesheet" href="~/css/treatment.css" asp-append-version="true" />

<div class="ortopedic-container">
    <h1>Терапевтичне лікування</h1>
    <div class="ortopedic-intro">
        <p>В нашому ортоптичному кабінеті лікар індивідуально підбирає лікування, щоб якнайкраще зберегти і відновити зорові функції наших пацієнтів. Дані методи лікування ефективні та перевірені часом. Ми разом з дітьми та їх батьками радіємо кожному досягнутому результату.</p>
        <p>Кабінет ортоптичного лікування нашого закладу оснащений самим сучасним та прогресивним обладнанням. Використовуємо методи тренування акомодації, апаратне лікування зору, методи фізіотерапевтичного впливу.</p>
        <p>Апаратне лікування зору — комплекс терапевтичних і комп'ютерних програм, який активно практикується для профілактики та боротьби з офтальмологічними захворюваннями у дітей. Це дозволяє знизити ризик розвитку або зменшити прояви дитячого зору, частіше мова йде про захворювання, які вражають дитячий зір: астенопія, амбліопія, короткозорість, далекозорість, косоокість та інші. В таких випадках, апаратні методи офтальмології дозволяють відновити рівень зору дитини, а часто й уникнути операції. Найчастіше, дане лікування — не просто найбільш вірне рішення проблеми, а єдина можливість відновлення зору.</p>
    </div>

    <div class="treatment-devices">
        <h2>Апаратне лікування зору застосовується при таких захворюваннях:</h2>
        <ul class="procedure-list">
            <li>астенопія – стомлюваність при підвищеному зоровому навантаженні</li>
            <li>амбліопія – хвороба «ледачого ока»</li>
            <li>короткозорість</li>
            <li>далекозорість</li>
            <li>косоокість</li>
            <li>дистрофія сітківки</li>
            <li>часткова атрофія зорового нерва</li>
        </ul>
    </div>

    <div class="procedure-images">
        <img src="~/img/treatment/ortoptych_1.jpg" alt="Image 1 description">
        <img src="~/img/treatment/ortoptych_2.jpg" alt="Image 2 description">
        <img src="~/img/treatment/ortoptych_3.jpg" alt="Image 3 description">
        <img src="~/img/treatment/ortoptych_4.jpg" alt="Image 4 description">
    </div>
</div>

