@{
    ViewData["Title"] = "Терапевтичне лікування";
}

<link rel="stylesheet" href="~/css/treatment.css" asp-append-version="true" />

<div class="terapevtic-container">
    <h1>Терапевтичне лікування</h1>
    <p>
        Центр надає послуги з діагностики та лікування: глаукоми, катаракти, вікової макулярної дегенерації, субатрофії зорового нерву, пігментної дегенерації сітківки, захворювань повік, кон’юнктиви, сльозного апарату. Проводиться підготовка до хірургічного лікування та реабілітація в післяопераційному періоді. Пропонується терапевтичне лікування як медикаментозно, так і за допомогою фізіотерапевтичних методів.
    </p>
    <p>
        Також проводиться плеоптичне  та ортоптичне  лікування очних хвороб у дітей (короткозорості, далекозорості,  спазму акомодації, косоокості, амбліопії, астигматизму). Проводиться підбір окулярів. Все це за доступними цінами в приємній атмосфері нашого центру.
    </p>
<div class="terapevtic-img-container">
    <img src="~/img/treatment/terapevtic_1.jpg" alt="Зображення 1" onclick="fullView(this.src)">
    <img src="~/img/treatment/terapevtic_2.jpg" alt="Зображення 2" onclick="fullView(this.src)">
    <img src="~/img/treatment/terapevtic_3.jpg" alt="Зображення 2" onclick="fullView(this.src)">
</div>
</div>