@{
    ViewData["Title"] = "Центр відновлення зору";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />


<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="~/img/slider/slider_1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="~/img/slider/slider_2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="~/img/slider/slider_3.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="~/img/slider/slider_4.jpg" style="width:100%">
    </div>
</div>