@{
    ViewData["Title"] = "Діагностичний кабінет";
}
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<div class="diagnostic-container">
    <div class="diagnostic-images">
        <img src="~/img/about/diagnostik_1.jpg" alt="Доктор" onclick="fullView(this.src)">
        <img src="~/img/about/diagnostik_2.jpg" alt="Доктор" onclick="fullView(this.src)">
    </div>
    
    <div class="diagnostic-info">
        <h2>Діагностичний кабінет:</h2>
         <ul>
            <li><strong>Авторефрактометр</strong> — необхідний для об’єктивного визначення рефракції (діоптрії) очей і розміру рогівки (важливо для підбору необхідної контактної корекції). Рефрактометрія повністю автоматизована, відрізняється точними результатами, вимагає мінімуму часу, тому вона часто застосовується при діагностиці дітей з порушенням зору.</li>
            <li><strong>Біомікроскоп</strong> - цей апарат дозволяє лікарю оглянути кон’юнктиви і рогівки. Вивчаються розміри, прозорість, форма, дзеркальність, блиск. Перевіряється, чи немає запальних процесів.</li>
            <li><strong>Офтальмоскоп</strong> — сучасний апарат, що дозволяє детально досліджувати очне дно і очне яблуко. Може використовуватися і для виявлення захворювань центральної нервової системи та інших органів.</li>
            <li><strong>Діоптриметри</strong> — використовується для визначення міжцентрової відстані і діоптрійність ваших окуляр.</li>
            <li><strong>Пневмотонометрія</strong> — інновація в офтальмології, що дає можливість вимірювати внутрішньоочний тиск безконтактно. Місцева анестезія для проведення процедури не потрібна. Застосовується при рубцево-зміненої, нерівній або набряку роговиці, ефективно виявляє різні захворювання очей, зокрема, глаукому.</li>
            <li><strong>Кольоротест</strong> — апарат для визначення характеру зору.</li>
            <li><strong>Синоптофор</strong> — апарат для діагностики косини.</li>
            <li><strong>Скіаскопічні лінійки</strong> — обладання для визначення рефракції ока у дітей.</li>
        </ul>
    </div>
</div>