@{
    ViewData["Title"] = "Про нас";
}

<h1>
    Лікувально-діагностичний центр дитячої офтальмології розташований в зручній частині центра міста.

    Тут ви можете пройти повну діагностику за допомогою сучасної апаратури, отримати консультацію спеціаліста і медичний прогноз стану очей. Після закінчення діагностики розробляється індивідуальна програма лікування Вашої дитини. Спеціалісти клініки в разі необхідності готові підібрати з раннього віку окуляри та контактні лінзи будь-якого ступеню складності, включаючи торичні (астигматичні).

</h1>