@{
    ViewData["Title"] = "Про нас";
}

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<div class="about-container">
    <h2>Лікувально-діагностичний центр дитячої офтальмології розташований в зручній частині центра міста.</h2>
    <p>
        Тут ви можете пройти повну діагностику за допомогою сучасної апаратури, отримати консультацію спеціаліста і медичний прогноз стану очей. 
        Після закінчення діагностики розробляється індивідуальна програма лікування Вашої дитини. 
        Спеціалісти клініки в разі необхідності готові підібрати з раннього віку окуляри та контактні лінзи будь-якого ступеню складності, включаючи торичні (астигматичні).
    </p>
    <div class="doctor-section-container">
        <div class="doctor-images">
            <img src="~/img/main/Photo_10.png" alt="Фото лікаря Літвінчук Марія Ярославівна">
        </div>
        <div class="doctor-info">
            <strong>Обстеження та лікування дітей проводить дитячий лікар-офтальмолог</strong>
            <hr class="horizontal-line" />
            <strong>ЛІТВІНЧУК Марія Ярославівна</strong>
            <p>
                Зниження зору у дитини може проявлятися такими порушеннями як психо-соматичні розлади, зниженням самооцінки, порушенням постави та зниженням успішності у навчанні.
            </p>
            <p>
                Функціональний розвиток органу зору починається після народження і продовжується до 12-14 років.
            </p>
            <p>
                Саме в цьому віці плеопто-ортоптичні методи дають найкращі результати, але для цього потрібна сучасна діагностика і вчасно розпочате лікування.
            </p>
            <p class="doctor-footer-text">Здоров'я Ваших очей — основне наше завдання!</p>
        </div>
    </div>
</div>
