@{
    ViewData["Title"] = "Ортоптичний кабінет";
}

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<div class="ortoptych-container">
    <div class="ortoptych-doctor-image">
        <img src="~/img/main/Photo_10.png" onclick="fullView(this.src)" alt="Фото лікаря Літвінчук Марія Ярославівна">
    </div>
    <div class="doctor-info">
        <h2>Ортоптичний кабінет</h2>
        <p>
            В нашому ортоптичному кабінеті лікар індивідуально підбирає лікування, щоб якнайкраще зберегти і відновити зорові функції наших пацієнтів. Ці методи лікування ефективні та перевірені часом. Ми разом з дітьми та їх батьками радіємо кожному досягнутому результату.
        </p>
        <p>
        Кабінет ортоптичного лікування нашого закладу оснащений найсучаснішим та найпрогресивнішим обладнянням. Використовуємо методи тренувань акомодації, апаратне лікування зору,  методи фізіотерапевтичного впливу. Всі процедури, що застосовуються в Офтальмологічному центрі Літвінчук М. Я., є безпечними та безболісними.
        </p>
    </div>
</div>