/*About*/
.about-container {
    width: 80%;
    margin: 120px auto;
    text-align: center;
}

.about-container h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #008bd0;
}

.about-container p {
    text-align: justify;
    font-size: 1.2em;
}

.doctor-info strong {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.doctor-info {
    flex: 2;
    text-align: left;
    padding: 20px;
}

.horizontal-line {
    width: 220px;
    height: 2px;
    background-color: #008bd0;
    margin: 20px auto;
    border: none;
}

.doctor-section-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.doctor-images {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.doctor-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.doctor-footer-text {
    margin-top: 20px;
    font-weight: bold;
    color: #008bd0;
    font-size: 1.5em;
    text-align: center;
}


/*Diagnostic*/
.diagnostic-container {
    width: 80%;
    margin: 120px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.diagnostic-info {
    flex: 2;
    padding-left: 20px;
}

.diagnostic-info h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.diagnostic-info ul {
    list-style: none;
    padding: 0;
}

.diagnostic-info ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.diagnostic-info ul li strong {
    font-weight: bold;
}

.diagnostic-images {
    flex: 1;
    padding: 20px;
}

.diagnostic-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.diagnostic-images img:hover {
    cursor: pointer;
    filter: brightness(70%);
}

/*Ortoptych*/
.ortoptych-container {
    width: 80%;
    margin: 120px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ortoptych-container h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #008bd0;
}
.ortoptych-container p {
    text-align: justify;
    font-size: 1.2em;
}

.ortoptych-doctor-image {
    flex: 1;
    padding: 20px;
}

.ortoptych-doctor-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

    .ortoptych-doctor-image img:hover {
        cursor: pointer;
        filter: brightness(70%);
    }

