footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 80px;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-contact, .footer-hours {
    flex: 1;
}

.footer-contact h3{
    margin: 0;
    padding: 0;
}

.footer-contact p, .footer-hours p {
    margin: 10px 0;
    font-size: 13px;
}


.footer-hours img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer-hours p {
    margin-top: 10px;
    font-size: 13px;
    color: #bbb;
}

.phone {
    display: flex;
    flex-direction: column;
}

.label, .phone-number {
    display: inline-block;
}

.label {
    min-width: 220px;
}