.lenses-container {
    margin: 120px auto;
    width: 80%;
}

.lenses-container h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #008bd0;
}

.lenses-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.lenses-img img {
    margin: 40px auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.lenses-img img:hover {
    cursor: pointer;
    filter: brightness(70%);
}