@{
    ViewData["Title"] = "Контакти";
}
<link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />

<div class="contacts-wrapper">


<div class="contacts-container">
    <img src="~/img/mini-logo.png" alt="Сині хвилі" class="contacts-logo">
    <h1>ДИТЯЧА ОФТАЛЬМОЛОГІЯ</h1>
    <h2>ЦЕНТР ВІДНОВЛЕННЯ ЗОРУ У ДІТЕЙ</h2>
    <hr class="horizontal-line">
    <p>м. Рівне, вул. 16 липня, 57<br>(навпроти діагностичного центру)</p>
    <div class="contact-info">
        <p>
            <a href="tel:+380672192774">+38 (067) 219 27 74</a> запис на консультацію до лікаря<br>
            <a href="tel:+380988637714">+38 (098) 863 77 14</a> телефон кабінету
        </p>
        <p><a href="mailto:mariarlvitv@gmail.com">mariarlvitv@gmail.com</a></p>
    </div>
    <hr class="horizontal-line">
    <p>Лікувально-діагностичний центр дитячої офтальмології розташований в зручній частині центра міста.</p>
</div>

    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.5835825497584!2d26.247628876836007!3d50.61627487162432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f134dd56de0a9%3A0x21de49a53a320d22!2z0LLRg9C70LjRhtGPIDE2LdCz0L4g0JvQuNC_0L3RjywgNTcsINCg0ZbQstC90LUsINCg0ZbQstC90LXQvdGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzMzAwMA!5e0!3m2!1suk!2sua!4v1721308442167!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
@* <a href="tel:+380687664970">+38 (068) 766 49 70</a> запис на ортоптичне лікування<br> *@
