@{
    ViewData["Title"] = "Контакти";
}
<link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />

<div class="contacts-container">
    <img src="~/img/mini-logo.png" alt="Сині хвилі" class="logo">
    <h1>ДИТЯЧА ОФТАЛЬМОЛОГІЯ</h1>
    <h2>ЦЕНТР ВІДНОВЛЕННЯ ЗОРУ У ДІТЕЙ</h2>
    <hr class="horizontal-line">
    <p>м. Рівне, вул. 16 липня, 57<br>(навпроти діагностичного центру)</p>
    <div class="contact-info">
        <p>
            <a href="tel:+380672192774">+38 (067) 219 27 74</a> запис на консультацію до лікаря<br>
            <a href="tel:+380687664970">+38 (068) 766 49 70</a> запис на ортоптичне лікування<br>
            <a href="tel:+380988637714">+38 (098) 863 77 14</a> адміністратор оптики
        </p>
        <p><a href="mailto:mariarlvitv@gmail.com">mariarlvitv@gmail.com</a></p>
    </div>
    <hr class="horizontal-line">
    <p>Лікувально-діагностичний центр дитячої офтальмології розташований в зручній частині центра міста.</p>
</div>