@{
    ViewData["Title"] = "Лінзи";
}

<link rel="stylesheet" href="~/css/lenses.css" asp-append-version="true" />

<div class="lenses-container">
    <h2>Правила вибору лінз для окулярів</h2>
    <p>
        1. На сьогодні багато країн займаються виготовленням оптики. Між собою вона відрізняється ціною і відповідно якістю. Абсолютно всі лікарі не рекомендують купувати занадто дешеві. Адже вони довго не прослужать і можуть навіть завдати шкоди. Дуже популярні на сьогодні корейські лінзи для окулярів. Вони поєднують в собі прийнятну вартість і основні характеристики. Ці виробники знаходяться вже багато років на ринку, тому знають про всі вимоги. Вартість лінз для окулярів залежить від бренду фірми виробника.
    </p>
    <p>
        2. Сучасні оптику виготовляють не тільки зі скла. Пластикові лінзи для окулярів зовсім не поступаються за якістю. У деяких випадках вони мають навіть більше переваг. Ціна теж дуже приємна.
    </p>
    <p>
        3. Зовнішній вигляд має кілька варіантів:
        <ul>
            <li>сферичні</li>
            <li>асферічесіке лінзи в окуляри</li>
            <li>біфокальні</li>
            <li>прогресивні</li>
        </ul>
    </p>
    <strong>Якщо відповідати на питання, які оптичні лінзи для окулярів краще, то вони всі мають свої переваги. Підбираються вони в залежності від проблеми, адже кожна з них має своє призначення.</strong>
    <div class="lenses-img">
        <img src="~/img/lenses/lenses_1.jpg" alt="Зображення 1">
        <img src="~/img/lenses/lenses_2.jpg" alt="Зображення 2">
        <img src="~/img/lenses/lenses_3.jpg" alt="Зображення 3">
    </div>
</div>